.package-detail-container {
  display: flex;
  flex-direction: column; /* Display the boxes in a column */
  align-items: center; /* Center-align the boxes horizontally */
}

.package-detail-box {
    display: flex;
    align-items: center;
    

    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
  }

  .package-detail-container h1{
    
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .image-icon  {
  width: 2rem; /* Adjust width as needed */
  height: 2rem;
  margin-right: 2px; 
  margin-left: 2px;/* Adjust height as needed */
   /* Add padding for spacing */
}
  .icon {
    color: rgb(236, 104, 4); /* Green color for the tick mark */
  }
  
  .includes {
    
    font-size: 1rem;
    text-align: left;
  }

  
  .details {
    font-size: 1rem;
    color: #555;
  }
  @media screen and (max-width: 450px) {

    .package-detail-box {
    
      width: 90%;
    }
    .package-detail-container h1{
    
      font-size: 1.5rem;
      
    }
    
  }