/* Recommendation.css */

.recommendation {
  width: 100%;
  padding: 2rem 0;
}

.title {
  width: 100%;
  text-align: center;
  
}

.title h1 {
  font-size: 1.8rem;
}

.CategoryBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CategoryBar ul {
  display: flex;
  width: max-content;
  gap: 1rem;
}

.CategoryBar ul li {
  list-style: none;
  padding: 1rem 0.7rem;
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom: 0.2rem solid rgba(249, 115, 11, 0.181);
}

.Active {
  color: rgb(236, 104, 4);
  border-bottom: 3px solid rgb(243, 111, 9) !important;
}

.recommendationBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

.box {
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  transition: 0.3s ease-in-out;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 10px 15px 0px;
  cursor: pointer;
}

.box:hover {
  transform: translateX(0.5rem) translateY(-0.5rem);
  box-shadow: rgb(0, 0, 0, 0.3) 0px 10px 10px 0px;
}

.box:hover .image img {
  transform: scale(115%);
}

.image {
  width: 100%; /* Set the width to 100% of its container */
  max-width: 570px; /* Set the maximum width to maintain aspect ratio */
  padding-top: 72.982%; /* Set the padding-top to maintain the aspect ratio (416/570 * 100%) */
  position: relative; /* Ensure the container maintains its aspect ratio */
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.box p {
  font-size: 0.9rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.price img {
  width: 2rem;
  height: 2rem;
  
  margin-right: 0.4rem;
  
  color: rgb(89, 8, 8);
}

.price p {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(236, 104, 4);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details p {
  font-size: 0.8rem;
}
.link{
  
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */

}
/* responsive section */

@media screen and (max-width: 450px) {
  .recommendation {
    padding: 2rem 1rem;
  }

  .title h1 {
    font-size: 1.5rem;
  }
  .CategoryBar ul {
    gap: 0.5rem;
  }

  .recommendationBox {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .price img {
    width: 1.8rem;
    height: 1.8rem;
    
    margin-right: 0.4rem;
    
    color: rgb(89, 8, 8);
  }
}
